<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: maroon;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: pink;
  tex-alight: center;
  font-family: comic sans;
  font-size: 20;
}
</style>
